<header class="header">
  <div class="logo">
    <img src="rent-icon.png" alt="Logo" />
    <h1>Rent House</h1>
  </div>

  <div class="right-section">
      <nav class="nav-links" *ngIf="shouldShowProfile() && userRole === 'admin'">
      <span (click)="goTorental()">Rental</span>
      <span (click)="goToUser()">User</span>
      <span (click)="goToDash()">Dashboard</span>
    </nav>    

    <div *ngIf="shouldShowProfile()" class="user-profile" (click)="closeDropdown()">
      <div class="user-info bordered-box" (click)="$event.stopPropagation()">
        <span class="user-name">
          <div class="green-icon"></div>
          {{ connectedUserName }}
        </span>

        <div class="profile-icon" (click)="toggleDropdown()">
          <img src="profile.png" alt="Profile" />
        </div>
      </div>

      <div *ngIf="dropdownOpen" class="dropdown-menu">
        <ul>
          <li (click)="editProfile()">Edit Profile</li>
          <li (click)="logout()">Logout</li>
        </ul>
      </div>
    </div>
  </div>
</header>
