<div class="favorite-container">
  <table class="favorite-table">
    <thead>
      <tr>
        <th>Full Name</th>
        <th>Date Added</th>
        <th>Rental Ref</th>
        <th>Rental Location</th>
        <th>Status</th>
        <th class="actions-header">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of favorites">
        <td>{{ item.fullName }}</td>
        <td>{{ item.dateAdded | date:'longDate' }}</td>
        <td>{{ item.rentalRef }}</td>
        <td>{{ item.rentalLocation }}</td>
        <td>
          <span class="status" [ngClass]="item.status.toLowerCase()">{{ item.status }}</span>
        </td>
        <td class="actions-cell">
        <button class="action-btn details" title="Details">
             <i class="material-icons">info</i>
        </button>

        <button class="action-btn edit" title="Edit">
          <i class="material-icons">edit</i>
        </button>

        <button class="action-btn delete" title="Delete">
          <i class="material-icons">delete</i>
        </button>

        </td>
      </tr>
    </tbody>
  </table>
</div>
